In [1]:
import os
import cv2 as cv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
mycolourdata = pd.DataFrame({"blue" : [],
                             "green": [],
                             "red"  : []})

In [44]:
folderpath= 'data/colors/train/pink'
filenames=os.listdir(folderpath)

l = len(filenames)

In [45]:
l

100

In [46]:
for i in range(len(filenames)):


    if(i%30==0):
        
        img= cv.imread(folderpath + '/' + filenames[i])
        imch,imcw,imcc=img.shape
        bluearray=np.empty([imch,imcw])
        greenarray=np.empty([imch,imcw])
        redarray=np.empty([imch,imcw])
        imgnp=np.array(img)
        for j in range(imch):
            for k in range(imcw):
                bluearray[j][k] = (img[j][k][0])
                greenarray[j][k] = (img[j][k][1])
                redarray[j][k] = (img[j][k][2])
        bluearray=bluearray.flatten()
        greenarray=greenarray.flatten()
        redarray=redarray.flatten()
        newdata = pd.DataFrame({ "blue" : bluearray,
                        "green": greenarray,
                        "red"  : redarray})
        mycolourdata = mycolourdata.append(newdata, ignore_index= True)

In [46]:
from sklearn.cluster import KMeans

In [48]:
colourclassclassifier = KMeans(n_clusters=4)
colourclassclassifier.fit(mycolourdata)

KeyboardInterrupt

In [47]:
mycolourdata

           blue  green    red
0         136.0  150.0  173.0
1         139.0  153.0  176.0
2         138.0  152.0  175.0
3         148.0  162.0  185.0
4         154.0  168.0  190.0
...         ...    ...    ...
11507978  212.0  211.0  243.0
11507979  213.0  212.0  244.0
11507980  213.0  212.0  244.0
11507981  213.0  212.0  244.0
11507982  213.0  212.0  244.0

[11507983 rows x 3 columns]

In [48]:
mycolourdata.to_csv('mynewerdata.csv')

In [2]:
colourdata= pd.read_csv('mydata.csv')

In [3]:
from sklearn.cluster import KMeans

In [ ]:
colourclassclassifier = KMeans(n_clusters=4)
colourclassclassifier.fit(colourdata)